body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	color: #FFFD;
	background-color: #000A;
	margin-top: 75px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	box-shadow: 0px 5px 5px #0005;
	background-color: #000B;
}

a {
	transition: all 200ms;
	color: #FFFD;
	text-decoration: 0;
}

nav>a {
	padding: 0;
	line-height: 50px;
	margin-left: 10px;
	margin: 10px 10px 10px 10px;
}

a.homelink {
	font-size: larger;
}

a:hover {
	color: #FFF8
}

a:active {
	color: #FFF4;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	background-color: #001;
	box-shadow: 0px -5px 5px #001;
	text-align: center;
}

body {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: min-content max-content;
	gap: 10px 10px;
	grid-template-areas: "breadcrumb breadcrumb" "tree article";
}

section {
	grid-area: tree;
}

.list {
	background-color: #FFF2;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 10px 10px #0005;
}

.list>span {
	font-size: larger;
	font-weight: bold;
}

article {
	grid-area: article;
	background-color: #FFF1;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 10px 10px #0005;
}

article a {
	text-decoration: underline;
}

article>pre {
	border: #333 solid 1px;
	border-radius: 5px;
	background-color: #222;
	padding: 5px;
	color: #FFF6;
}

code {
	background-color: #222;
	padding: 5px;
	color: #A55;
}

article th {
	border-bottom: 3px solid #FFFA;
}

article>blockquote {
	margin: 0;
	background-color: #0F05;
	padding: 10px;
	border-left: 5px solid #0F0
}

article>blockquote>p {
	margin-top: 0;
	margin-bottom: 10px;
}

article>blockquote>p:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 800px) {
	body {
		width: calc(100% - 200px);
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: min-content max-content;
		gap: 20px 10px;
		grid-template-areas: "tree article";
	}
}

@media screen and (max-width: 800px) {
	body {
		width: calc(100% - 20px);
		padding-left: 10px;
		padding-right: 10px;
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-template-rows: min-content max-content;
		gap: 10px 10px;
		grid-template-areas: "article article";
	}
	section {
		display: none;
	}
}