body {
    font-family: sans-serif;
    color: #FFF;
    background-color: #252535;
    text-align: center;
}

.project {
    display: grid;
    width: 100%;
    max-width: 700px;
    margin: 5px auto;
    background-color: #FFFFFF06;
    border-radius: 20px 20px 0 20px;
    grid-auto-flow: row;
}

@media screen and (min-width: 700px) {
    .project {
        grid-template-columns: 138px 1fr;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas:
		"icon title"
		"icon description"
		"icon buttons";
    }

    .icon {
        margin: 5px;
    }
}

@media screen and (max-width: 700px) {
    .project {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr 1fr 1fr;
        grid-template-areas:
		"icon"
		"title"
		"description"
		"buttons";
    }

    .icon {
        margin: 5px auto;
    }
}


.title {
    grid-area: title;
}

.icon {
    grid-area: icon;
    width: 128px;
    border-radius: 50%;
}

.description {
    grid-area: description;
}

.buttons {
    grid-area: buttons;
    width: 100%;
	display: flex;
    justify-content: flex-end;
    gap: 5px 5px;
}

.buttons > a {
    color: white;
    background-color: #303055;
    text-decoration: none;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.buttons > a:hover {
    color: white;
    background-color: #353560;
}

.todolist {
    width: fit-content;
    margin: auto;
    text-align: start;
    font-family: monospace;
    border: #333 solid 1px;
    border-radius: 5px;
    background-color: #222;
    padding: 5px;
    color: #080;
}
