body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	color: #FFFD;
	background-color: #000A;
}

@media screen and (min-width: 800px) {
	.h-center {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 800px) {
	.h-center {
		width: 100%;
	}
}

.home-header {
	padding-top: 75px;
	padding-bottom: 25px;
	background-color: #0008;
	box-shadow: 0px 5px 5px #0005;
}

.main-grid-container {
	display: grid;
	grid-template-columns: 1fr 256px;
	grid-template-rows: 59px 59px;
	gap: 10px 10px;
	grid-template-areas: "title icon" "desc icon";
}

.main-grid-container>h1 {
	text-align: center;
	height: min-content;
	margin: auto;
	grid-area: title;
}

.main-grid-container>img {
	grid-area: icon;
	margin: auto;
	border-radius: 15%
}

.main-grid-container>p {
	text-align: center;
	height: min-content;
	margin: auto;
	grid-area: desc;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	box-shadow: 0px 5px 5px #0005;
	background-color: #000B;
}

a {
	transition: all 200ms;
	color: #FFFD;
	text-decoration: 0;
	line-height: 50px;
	margin-left: 10px;
}

a.homelink {
	font-size: larger;
}

a:hover {
	color: #FFF8
}

a:active {
	color: #FFF4;
}

.button-placeholder {
	width: max-content;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.button-placeholder>a {
	border: 1px solid white;
	padding: 7px;
	background-color: white;
	color: #000D;
	border-radius: 5px;
}

.button-placeholder>a:hover {
	border-radius: 10px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	background-color: #001;
	box-shadow: 0px -5px 5px #001;
	text-align: center;
}

.footer>a {
	margin: 0;
}